/*https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&h=350 - shawarma
https://images.pexels.com/photos/263070/pexels-photo-263070.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940 - chicken roll
https://www.pexels.com/photo/food-photography-of-pasta-1438672/ - macaroni carbonara
https://images.pexels.com/photos/52539/cream-puffs-delicious-france-confectionery-food-52539.jpeg?auto=compress&cs=tinysrgb&h=350 - loaded cream puff
https://images.pexels.com/photos/1291712/pexels-photo-1291712.jpeg?auto=compress&cs=tinysrgb&h=350 - butter cookie cake
#macam mana nak centerkan contain of body*/

body{
  padding: 5px;
}

.col{
  width: 40%;
  float: left;
  padding: 0 8px;
  margin-bottom: 16px;
  margin-left: 2%;
  text-align: center;
}

.row{
  text-align: center;
  margin-left: 60px;
}

.container{
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  width: 95%;
  height: 100%;
}


.content {
    text-align: center;
    position: relative;
    width: 100%;
}

.content img{
  margin-left: auto;
  margin-right: auto;
}

.row::after{
  content: "";
  display: table;
  clear: both;
}

.image{
  display: block;
  width: 100%;
  height: auto;
}

.overlay{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s;
  background-color: #8c8f91;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.content:hover .overlay{
  opacity: 5;
}

.description{
  color: white;
  font-size: 15px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.Order{
  margin: 15px;
}

.sub{
  text-align: center;
  border-radius: 10px;
  border: none;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  outline: none;
  background-color: green;
}

/* Footer */
.footer{
  padding:10px;
	font-size:14px;
	text-align: center;
	background: #594848;
	color:white;
	font-family: Arial;
	letter-spacing: right;
}
