* {
  box-sizing: border-box;
}

/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background: url('background3.jpg') no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
} */
.shopping-cart {
  float: left;
  width: 47.7%;
  padding: 5px;
  margin: 10px 10px 15px 10px;
  /* margin: 80px auto; */
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;

}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  text-align: center;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
.item {
  padding: 20px 30px;
  height: 150px;
  display: flex;
  border-bottom: 2px solid #E1E8EE;
}
.image img {
  width: 150px;
  height: 100px;
  margin-right: 30px;
}
/* Let’s add some basic style to  product name and description. */
.description {
  padding-top: 5px;
  margin-right: 40px;
  width: 100px;
}
.description span {
  display: block;
  font-size: 14px;
  color: black;
  font-weight: 400;
}
.quantity {
  padding-top: 10px;
  margin-right: 50px;
  margin-left: 50px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
.minus-btn img {
  margin-top: 2px;
  max-width: 20px;
}
.plus-btn img {
  margin-top: 2px;
  max-width: 20px;
}
button:focus,input:focus {
  outline:0;
}
.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow:hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image, .quantity, .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
}
#orderedProductsTbl{
  background-color: #B0C4DE;
  margin-left: 36.8%;
  margin-bottom: 5%;
}

#checkout{margin-left: 88%; margin-top: 3%;}
#checkout{
  color: #494949 ;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid #494949 ;
  border-radius: 6px;
  display: inline-block;
  outline: none;
}
#checkout:hover{
  color: #ffffff ;
  background: #f6b93b;
  border-color: #f6b93b ;
  transition: all 0.4s ease 0s;
  cursor: pointer;
}
/* popup css */
.popup-overlay{
  /*Hides pop-up when there is no "active" class*/
  visibility:hidden;
  position:absolute;
  background:#ffffff;
  border:3px solid #666666;
  width:50%;
  height:50%;
  left:25%;
}
.popup-overlay.active{
  /*displays pop-up when "active" class is present*/
  visibility:visible;
  text-align:center;
}
.popup-content {
  /*Hides pop-up content when there is no "active" class */
 visibility:hidden;
}
.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility:visible;
}
